body {
	padding: 0;
	margin: 0;
	padding-top: 50px;
}

.val-slider {
	width: 1024px;
	height: 550px;
	margin: auto;
	border: 1px solid #cfcfcf;
	padding: 5px;
	box-shadow: 0 30px 40px -30px;
}

.slideshow-controls {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    background-size: cover;
    right: 0;
    opacity: 0.5;
    top: -25%;
    cursor: pointer;
    transition: all 0.2s;
}

.slideshow-controls:hover {
	opacity: 0.7;
}

.slideshow-controls.stop {
	background-image: url(./images/stop-button.png);
}

.slider-controls > *
 {
	width: 40px;
    height: 40px;
    display: block;
    background-size: cover;
    background-color: transparent;
    border: 0;
    opacity: 0.6;
    top: -25%;
    cursor: pointer;
    transition: all 0.2s;	
}

.slider-controls > *.active-btn:hover {
	opacity: 1;
}

.slider-controls .zoomout {
	background-image: url(./images/zoom-out-button.png);
}

.slider-controls .zoomin {
	background-image: url(./images/zoom-in-button.png);
}

.slider-controls .reset {
	background-image: url(./images/reset-button.png);
}

.slideshow-controls.play {
	background-image: url(./images/play-button.png);
}

.val-slider-wrapper {
	width: 100%;
	height: 100%;
}

.val-slider-wrapper .description {
	width: 42%;
	height: 100%;
	background-color: #f5f5f5;
}

.val-slider-wrapper .description .title {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	font-size: 17px;
	color: #0811c4;
	margin: 30px 5px 0px 5px;
	padding: 0 25px 20px 25px;
	border-bottom: 1px solid #c4c4c4;
	box-sizing: border-box;
}

.gsu-blue:after,
.gsu-yellow:after {
	content: '';
	display: inline-block;
	width: 17px;
	height: 17px;
	vertical-align: middle;
	margin-left: 5px;
	border-radius: 3px;
}

.slides-titles {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 17px;
	margin: 10px 5px 0 5px;
	padding-left: 0;
}

.slides-titles > li:hover {
	cursor: pointer;
	background-color: #e0e0e0;
}

.slides-titles > li {
	list-style: none;
	padding: 10px 0 5px 10px;
	border-bottom: 1px solid #c4c4c4;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.slides-titles > .active {
	background-color: #ccc;
}

.slides-titles > .active:before {
	content: '';
	display: inline-block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #666;
	margin-right: 5px;
}

.slider-list > li {
	position: absolute;
	opacity: 0;
	transition: opacity 0.4s;
}

.slider-list > li.active {
	opacity: 1;
	z-index: 10;
}

.val-slide {
	position: absolute !important;
}

.val-slide .slide-title {
	display: none;
}

.gsu-blue:after {
	background-color: #0811c4;
}

.gsu-yellow:after {
	background-color: #e7e727;
}

.val-slider-wrapper .slider-list {
	position: relative;
	width: 58%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.val-slider-wrapper > * {
	float: left;
}

.val-slider-wrapper:before,
.val-slider-wrapper:after {
	content: '';
	display: table;
	clear: both;
}

div.img_map {
	position: absolute !important;
	width: 100%;
	height: 100%;
}

.img_map img {
	width: 100%;
	height: 100%;
}

.val-slider-wrapper .slider-list img.img_map {
	height: 100%;
	width: auto;
	position: absolute;
}

.slider-list li {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.tooltip {
	display: inline-block;
	position: absolute;
	background: #efefef;
	border-radius: 3px;
	overflow: initial !important;
}

.tooltip-content,
.tooltip-title {
	padding: 5px;
}

.tooltip-content img {
	width: 200px;
	height: auto;
}

.tooltip-title {
	margin: 0;
	color: #3ba1d7;
	word-break: break-all;
	width: 90%;
}

.tooltip-controls {
	text-align: right;
	padding: 5px 5px 0 0;
}

.tooltip-controls .btn.close {
	line-height: 13px;
    display: inline-block;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    color: darkslategrey;
    border: 1.5px solid darkslategrey;
    transition: all 0.3s;
    cursor: pointer;
}

.tooltip-controls .btn.close:hover {
	background-color: lightgrey;
}

.tooltip .tooltip-arrow {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(239, 239, 239, 0);
	border-width: 20px;
}


.tooltip.top:after {
	bottom: 100%;
	left: 50%;
	border-bottom-color: #efefef;
	margin-left: -20px;
}

.tooltip.bottom:after {
	top: 100%;
	left: 50%;
	border-top-color: #efefef;
	margin-left: -20px;
}

.tooltip.left .tooltip-arrow {
	right: 100%;
	top: 50%;
	border-right-color: #efefef;
	margin-top: -20px;
}

.tooltip.right .tooltip-arrow {
	left: 100%;
	top: 50%;
	border-left-color: #efefef;
	margin-top: -20px;
}

.slider-controls {
	padding: 10px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 40px;
	position: absolute;
	margin: 20px;
	top: 0;
}

.slider-controls > *:nth-child(n+2) {
	margin-top: 5px;
}