body {
	padding: 0;
	margin: 0;
	padding-top: 50px;
}

.val-slider {
	width: 1024px;
	height: 550px;
	margin: auto;
	border: 1px solid #cfcfcf;
	padding: 5px;
	box-shadow: 0 30px 40px -30px;
}

.slideshow.button:hover {
	opacity: 0.7;
}

.slideshow.button.stop {
	background-image: url(http://res.cloudinary.com/dp1z7htrk/image/upload/v1477130322/stop-button_njtrsw.png);
}

.slider-controls > *
 {
	width: 25px;
    height: 25px;
    display: block;
    background-size: cover;
    background-color: transparent;
    border: 0;
    opacity: 0.3;
    top: -25%;
    cursor: pointer;
    transition: all 0.2s;
}

.slider-controls .active-btn {
	opacity: 0.6;
}

.slider-controls > *.active-btn:hover {
	opacity: 1;
}

.slider-controls .zoomout {
	background-image: url(https://netcommunity.gsu.edu/view.image?Id=3043);
}

.slider-controls .zoomin {
	background-image: url(https://netcommunity.gsu.edu/view.image?Id=3042);
}

.slider-controls .reset {
	background-image: url(https://netcommunity.gsu.edu/view.image?Id=3040);
}

.slideshow.button.play {
	background-image: url(https://netcommunity.gsu.edu/view.image?Id=3039);
}

.val-slider-wrapper {
	width: 100%;
	height: 100%;
}

.val-slider-wrapper .description {
	width: 42%;
	height: 100%;
	background-color: #f5f5f5;
}

.val-slider-wrapper .description .title {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	font-size: 17px;
	color: #0811c4;
	margin: 30px 5px 0px 5px;
	padding: 0 25px 20px 25px;
	border-bottom: 1px solid #c4c4c4;
	box-sizing: border-box;
}

.gsu-blue:after,
.gsu-yellow:after {
	content: '';
	display: inline-block;
	width: 17px;
	height: 17px;
	vertical-align: middle;
	margin-left: 8px;
  margin-bottom:2px;
	border-radius: 3px;

}

.slides-titles {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 17px;
	margin: 0px 5px 0 5px;
	padding-left: 0;
}

.slides-titles > li:hover {
	cursor: pointer;
	background-color: #e0e0e0;
}

.slides-titles > li {
	list-style: none;
	padding: 10px 0 5px 10px;
	border-bottom: 1px solid #c4c4c4;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.slides-titles > .active {
	background-color: #ccc;
}

.slides-titles > .active:before {
	content: '';
	display: inline-block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid blue;
	margin-right: 5px;
}

.slider-list > li {
	position: absolute;
	opacity: 0;
	transition: opacity 0.4s;
}

.slider-list > li.active {
	opacity: 1;
	z-index: 10;
}

.val-slide {
	position: absolute !important;
}

.val-slide .slide-title {
	display: none;
}

.gsu-blue:after {
	background-color: #0811c4;
}

.gsu-yellow:after {
	background-color: #e7e727;
}

.val-slider-wrapper .slider-list {
	position: relative;
	width: 58%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.val-slider-wrapper > * {
	float: left;
}

.val-slider-wrapper:before,
.val-slider-wrapper:after {
	content: '';
	display: table;
	clear: both;
}

div.img_map {
	position: absolute !important;
	width: 100%;
	height: 100%;
}

.img_map > img {
	border: 0px;
}

.img_map img {
	width: 100%;
	height: 100%;
}

.val-slider-wrapper .slider-list img.img_map {
	height: 100%;
	width: auto;
	position: absolute;
}

.slider-list li {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.tooltip {
	display: inline-block;
	position: absolute;
	background: #efefef;
	border-radius: 3px;
	overflow: initial !important;
}

.tooltip-content,
.tooltip-title {
	padding: 5px;
}

.tooltip-content p {
	margin-top: 0;
	margin-bottom: 5px;
	max-width: 150px;
	font-size:12px;
}

.tooltip-content img {
	width: 150px;
	height: auto;
  	display: block;
    margin: auto;
}

.tooltip-title {
	margin: 0;
	font-size:15px;
	color: #3ba1d7;
	word-break: break-all;
	white-space: nowrap;
	line-height:20px;
}

.tooltip-controls {
	text-align: right;
	padding: 5px 5px 0 0;
}

.tooltip-controls .tooltip-btn.close {
	line-height: 13px;
    display: inline-block;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    color: darkslategrey;
    border: 1.5px solid darkslategrey;
    transition: all 0.3s;
    cursor: pointer;
}

.tooltip-controls .tooltip-btn.close:hover {
	background-color: lightgrey;
}

.tooltip .tooltip-arrow {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(239, 239, 239, 0);
	border-width: 20px;
}


.tooltip.top:after {
	bottom: 100%;
	left: 50%;
	border-bottom-color: #efefef;
	margin-left: -20px;
}

.tooltip.bottom:after {
	top: 100%;
	left: 50%;
	border-top-color: #efefef;
	margin-left: -20px;
}

.tooltip.left .tooltip-arrow {
	right: 100%;
	top: 50%;
	border-right-color: #efefef;
	margin-top: -20px;
}

.tooltip.right .tooltip-arrow {
	left: 100%;
	top: 50%;
	border-left-color: #efefef;
	margin-top: -20px;
}

.slider-controls {
	padding: 10px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 40px;
	position: absolute;
	margin: 20px;
	top: 0;
}

.slider-controls > *:nth-child(n+2) {
	margin-top: 5px;
}

.menu-button {
	display: none;
}

.tooltip-content img {
	cursor: pointer;
}

#menuToggle {
	display: none;
}

html {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: auto;
}

#lightbox {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(http://res.cloudinary.com/dp1z7htrk/image/upload/v1477871732/overlay_vbtths.png) repeat;
	text-align: center;
	transition: opacity 0.2s;
	z-index: 99999;
}

#lightbox #content {
	padding-top: 100px;
	position: relative;
	width: 100%;
}

#lightbox .close-btn {
	/*background-image: url(http://res.cloudinary.com/dp1z7htrk/image/upload/v1477943099/cancel_g5fncf.png);*/
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: -25px;
    right: -25px;
    background-size: contain;
    background-color: #444;
    border: 3px solid white;
    border-radius: 50px;
    transition: all 0.2s;
}

#lightbox .close-btn:before {
	content: "\00d7";
    display: inline-block;
    color: white;
    width: 100%;
    line-height: 18px;
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 40px;
    font-weight: bold;
}

#lightbox .close-btn:hover {
	background-color: #111;
	box-shadow: 0 0 20px white;
}

#lightbox img {
	display: inline-block;
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
}

#lightbox .img-wrapper {
    position: relative;
    display: inline-block;
    width: initial;
}

/*@media (min-width:320px)
@media (min-width:480px)
@media (min-width:600px)*/

@media screen and (max-device-width:801px), screen and (max-width: 801px) {
	.val-slider {
		min-height: 320px;
		min-width: 320px;
		max-width: 90%;
		box-sizing: border-box;
	}

	.val-slider-wrapper {
		position: relative;
		overflow-y: hidden;
	}

	.val-slider-wrapper .description {
		position: absolute;
		width: 200px;
		z-index: 100;
		transition: all 0.2s;
	}

	.val-slider-wrapper .description .title {
	    font-size: 16px;
	    padding: 0 15px 10px 15px;
	}

	.val-slider .slider-list {
		width: 100%;
	}

	.description::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}

	.description::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: #ff0000;
	}

	.menu-button {
		display: block;
		padding: 10px;
		background-color: #f5f5f5;
		position: absolute;
		z-index: 999;
		top: 10px;
		transition: all 0.2s;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
	}

	.menu-button:hover {
		cursor: pointer;
		background-color: #e0e0e0;
	}

	.menu-button div {
		width: 70%;
		height: 3px;
	    margin: auto;
	    margin-top: 19%;
		background-color: black;
		transition: all 0.2s;
	}

	#menuToggle {
		transition: all 0.2s;
	}

	.val-slider .description {
		left:-100%;
	}

	.val-slider .slider-controls {
		top: 0;
		right: 0;
	}

	#menuToggle:checked ~ .description {
		left: 0 !important;
		overflow-y: auto;
	}

	#menuToggle:checked ~ .menu-button {
		left: 200px;
	}

	#menuToggle:checked ~ .menu-button div {
		width: 80%;
		border-radius: 10px;
	}

	#menuToggle:checked ~ .menu-button div:nth-child(2) {
		display: none;
	}

	#lightbox img {
		display: inline-block;
	    box-shadow:0 0 25px #111;
	    -webkit-box-shadow:0 0 25px #111;
	    -moz-box-shadow:0 0 25px #111;
	    max-width:90%;
	    position: relative;
	}

	#lightbox .close-btn {
	    width: 40px;
	    height: 40px;
	    top: -10px;
	    right: 10px;
	}

	#lightbox .close-btn:before {
	    display: inline-block !important;
	    line-height: 14px !important;
	    top: 0;	
	    position: absolute !important;
	    font-size: 30px;
	    left: 0 !important;
	    padding: 30% 0;
	    height: 14px;
	}

}